@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts.css";
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --secondary:#555658;
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Kanit", sans-serif !important;

  color: #555658;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.ant-layout-sider-trigger{
  display: none;
}
.ant-layout .ant-layout-sider-has-trigger{
  padding: 0;
}

.ant-menu,.ant-layout-sider{
  border-radius: 10px;
}

.ant-layout-sider-children .ant-menu-item-selected .ant-menu-item-icon ,.ant-menu-item-selected .ant-menu-title-content{
  color: white !important
}
.ant-menu-item-selected {
  background-color: #093B5C !important;
  color:white !important

}
.ant-menu-title-content,.ant-menu-item-icon{
  color:  var(--secondary)
}

